<div class="auth-page">
  <h2 class="text-center mb-0 text-2xl">Sign In</h2>
  <p class="text-center underline mb-4"><a [routerLink]="['/register']">Don't have an account?</a></p>
  <form class="flex flex-col items-center">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="Name" required>
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput required>
    </mat-form-field>
    <button mat-flat-button color="accent">Sign In</button>
  </form>
</div>
